*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(76, 92, 156, 0.7)),url('./images/front.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #36cef4;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 70%;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}

.text-box h1{
    font-size: 54px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    columns: #fff;
}

/*------ experience -------*/
.experience{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.experience h1{
    font-size: 36px;
    font-weight: 600;
}
.experience p{
    color: rgb(48, 89, 177);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.experience img{
    width: 175px;
    padding: 5px;
    /* height */
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.proj_col{
    flex-basis: 31%;
    background: #cde6fa;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.proj_col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
/*------ hobbies -------*/
.hobbies{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.hobbies h1{
    font-size: 36px;
    font-weight: 600;
}
.hobbies p{
    color: rgb(48, 89, 177);
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
    padding: 10px;
}

.hob_col{
    flex-basis: 46%;
    background: #cde6fa;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.nocolorhob_col{
    flex-basis: 46%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
/*------ contact -------*/

.contact{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.contact h1{
    font-size: 36px;
    font-weight: 600;
}
.icons .fa{
    color: rgb(48, 89, 177);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}